.title {
  color: $violet;
  font-weight: bold;
}

.loadButton {
  width: 50%;
  margin: 0 auto;
  display: block;
  background: none;
  text-transform: uppercase;
  color: $grey;
  border: 1px solid $grey;
  border-radius: 4px;
  font-size: 10px;
  padding: 8px;
}
